dist: trusty
language: c++
matrix:
  include:
  - os: linux
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        packages:
        - g++-4.9
        - cmake
    env:
    - MATRIX_EVAL="CC=gcc-4.9 && CXX=g++-4.9"
  - os: linux
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        packages:
        - g++-7
        - cmake
    env:
    - MATRIX_EVAL="CC=gcc-7 && CXX=g++-7"
before_install:
- eval "${MATRIX_EVAL}"
install:
- cmake . -Bbuild
- cmake --build build
script:
- ${TRAVIS_BUILD_DIR}/build/test/test_sdptransform
notifications:
  email:
    recipients:
    - ibc@aliax.net
    on_success: change
    on_failure: always
